<h2>Show Project</h2>

<%= react_component 'ProjectForm', { id: @project&.id,
                                     name: @project&.name,
                                     description: @project&.description,
                                     ownedByUser: @ownedByUser,
                                     liked: @liked,
                                     token: form_authenticity_token } %>
