$font-family-sans-serif: -apple-system, "Roboto", "Helvetica", "Arial", sans-serif !default;
$font-family-monospace: -apple-system, 'Source Code Pro', monospace;

html {
  font-family: $font-family-sans-serif
}

.flex {
  display: flex;
}

.MuiButtonBase-root { }
.MuiButton-root { }
.MuiButton-label { }
.MuiButton-text { }
.MuiButton-outlined { }
.MuiButton-outlined.Mui-disabled { }
.MuiButton-outlinedPrimary { }
.MuiButton-outlinedPrimary:hover { }
